<main>
  <section class="py-0 text-center container">
    <div class="row py-lg-0">
      <%= month_calendar(events: @current_user_events) do |date, events| %>
        <%= date.to_formatted_s(:short) %>
        <% events.each do |event| %>
          <div>
            <%= link_to "[#{event.start_time.strftime("%H:%M")}]: #{event.name}", event_url(event.id), class: "event_record" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</main>
